/node_modules/
/demo/
/dist/
/.vscode/
/mochawesome-report/
/.nyc_output/
/coverage/
yarn.lock
yarn-error.log
package-lock.json
/example/
/lib/
/mochawesome-report/

.DS_Store
/**/*/.DS_Store